.header-container {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: center;
  align-items: center;
  background-color: #2d51bf;
}

.header-container h1 {
  color: #fbea38;
  margin: 0;
}

.logo-cimol {
  height: 80px;
  margin-top: 40px;
  margin-right: 25px;
}
